---

###
# Custom cards from /config/www/community
###

- url: /hacsfiles/Bubble-Card/bubble-card.js
  type: module
- url: /hacsfiles/button-card/button-card.js
  type: module
- url: /hacsfiles/clock-weather-card/clock-weather-card.js
  type: module
- url: /hacsfiles/decluttering-card/decluttering-card.js
  type: module
- url: /hacsfiles/frigate-hass-card/frigate-hass-card.js
  type: module
- url: /hacsfiles/hassio-trash-card/trashcard.js
  type: module
- url: /hacsfiles/kiosk-mode/kiosk-mode.js
  type: module
- url: /hacsfiles/light-entity-card/light-entity-card.js
  type: module
- url: /hacsfiles/lovelace-auto-entities/auto-entities.js
  type: module
- url: /hacsfiles/lovelace-card-mod/card-mod.js
  type: module
- url: /hacsfiles/lovelace-layout-card/layout-card.js
  type: module
- url: /hacsfiles/lovelace-state-switch/state-switch.js
  type: module
- url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
  type: module
- url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
  type: module
- url: /hacsfiles/my-cards/my-cards.js
  type: module
- url: /hacsfiles/simple-weather-card/simple-weather-card-bundle.js
  type: module
- url: /hacsfiles/vacuum-card/vacuum-card.js
  type: module
- url: /hacsfiles/weather-radar-card/weather-radar-card.js
  type: module
