# Allow the following directories/files for home assistant
!/config/*
!/themes/main/*
!/ui_lovelace_minimalist/dashboard/**
/ui_lovelace_minimalist/dashboard/adaptive-dash
!/automations.yaml
!/configuration.yaml
!/ui-lovelace.yaml
